body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insert-elements {
    position: absolute;
    top: 7%;
    /* transform: translateX(-30%), translateY(-30%); */
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 0px 5px rgb(192, 192, 192);
    max-height: auto;
    /* min-width: 300px; */
}

.formats {
    margin: 35px;
}

/* .button-position {
    position: absolute;
    bottom: 5px;
    right: 20px;
} */

.button {
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: rgb(79, 79, 221);
    font-size: 15px;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}   

input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 1px 0px 10px rgb(192, 192, 192);
}

.thumbail-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#thumbail-index {
    width: 80%;
    height: 70px;
}

#monograme {
    width: 100%;
    height: 60px;
}

.modelwrap {
    display: none;
}

.alert-msg {
    display: none;
    padding: 20px;
    width: 50%;
    background-color: rgb(236, 120, 120);
    font-size: medium;
    border-radius: 3px;
}

.thumbail-preview {
    height: 200px;
}